# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Streamlit local configurations and secrets
.streamlit/config.toml
.streamlit/secrets.toml

# IDE settings
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
